<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper   namespace="com.bookstore.dao.FeedBackMapper">
	<select id="SelectLeaveMessage" resultType="com.bookstore.domain.FeedBack">
	
		select * from feedback

	</select>
	<insert id="saveFeedBack"  parameterType="com.bookstore.domain.FeedBack">
	
			insert into feedback (feedid,name,subject,msg,email,ip)
			values (null,#{name},#{subject},#{msg},#{email},#{ip})
	
	
	</insert>






</mapper>